{# src/LT/PhotosBundle/Resources/views/index.html.twig #}

{% extends "LTCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
<div style="margin:1cm 5%">
<h3><font color="#0055A0">Bienvenue sur le nouveau serveur photos&nbsp;!</font></h3>

<p>Ce site à pour objectif de recenser les photos et films pris sur le campus de Cachan ou impliquant des <b><font color="#0055A0">K</font></b>chanais.</p>
<p>Les photos sont visibles dans la galerie et téléchargeables, toutefois, <b><font color="#0055A0">l'accord de la ou du photographe et des personnes présentes sur la photo est nécessaire avant toute republication sur un autre site.</font></b></p>

<h4>Nouveau venu ?</h4>
<p>Si tu accèdes à ce service depuis l'intérieur du campus, tu peux naviguer sur le serveur comme tu le souhaites. Par contre dès que tu essairas d'accéder au serveur photos depuis une connexion internet externe au Crans tu devras te créer un compte utilisateur dans la rubrique "Connexion".</p>

<h4>Un nouveau serveur photos, pourquoi ?</h4>
<p>Ceci est la version beta de la nouvelle interface, elle comprend dès maintenant de grandes nouveautés&nbsp;:</p>
<ul>
  <li>Design entièrement refait et responsive&nbsp;;</li>
  <li>Création des comptes utilisateurs plus simple&nbsp;;</li>
  <li>Création de comptes photographes pour un upload des photos en http plus accessible&nbsp;;</li>
  <li>Censure et validation des photos par le site internet pour faciliter la gestion des administrateurs&nbsp;;</li>
  <li>Une nouvelle machine plus puissante pour un confort de navigation grandement amélioré.</li>
</ul>

<h4>Et bientôt ?</h4>
<ul>
  <li>Une nouvelle machine encore plus puissante pour un confort de navigation grandement amélioré&nbsp;;</li>
  <li>Une gestion des mails et des notifications pour savoir quand de nouvelles photos sont postées&nbsp;;</li>
  <li>…</li>
</ul>

<h4>Participez et faites vivre le serveur photos :</h4>

<ul>
  <li>Devenez photographe en vous créant un compte ou en upgradant votre compte utilisateur</li>
  <li>Reportez-nous toute anomalie dans la nouvelle interface ou toute difficulté rencontrée : fautes d'orthographes, bugs, mauvaise ergonomie…</li>
  <li>Envoyez-nous vos suggestions à <a href="mailto:photos@crans.org">photos@crans.org</a> ou en utilisant le formulaire de contact.</li>
  <li>Si l'amélioration ou la gestion du serveur vous intéresse et pour en savoir plus, contactez-nous.</li>
</ul>

<p>Les anciennes photos seront petit à petit importées sur ce nouveau serveur, en attendant elles restent disponnibles sur l'ancien serveur à l'adresse : <a href="http://photos-old.crans.org/">http://photos-old.crans.org</a>.</p>

</div>
{% endblock %}
