{% extends "LTCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

<p>Vos photos ont bien été envoyées à la modération, d'ici peu elles seront mises en ligne !</p>

{% endblock %}
