{# LTPhotosBundle:Maintenance:fusionPhotograph.html.twig #}

{% extends "LTCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Fusion de photographes{% endblock %}

{% block body %}

<p>Cette fonction a pour but de fusionner deux photographes.</p>

{% endblock %}
