{# LTPhotosBundle:Maintenance:index.html.twig #}

{% extends "LTCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Maintenance{% endblock %}

{% block body %}

<p>Ci-dessous les liens vers les applications de maintenance du serveur photos :</p>

<ul>
  <li>Fusionner deux photographes</li>
  <li>Supprimer toutes les photos censurées</li>
</ul>

{% endblock %}
